@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('inter-v12-latin_cyrillic-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('inter-v12-latin_cyrillic-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('inter-v12-latin_cyrillic-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('inter-v12-latin_cyrillic-600.woff2') format('woff2');
}
